<ion-list>
  <ion-item (click)="navigateToChatPage()">
    <ion-avatar slot="start">
      <img src="../../../../assets/img/kobaton.jpg" />
    </ion-avatar>
    <ion-label>
      <h2>法人名</h2>
      <p>2022/04/09</p>
      <h3>あれあれです。あれあれです。</h3>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../assets/img/kobaton.jpg" />
    </ion-avatar>
    <ion-label>
      <h2>法人名</h2>
      <p>2022/04/09</p>
      <h3>これこれです。これこれ</h3>
    </ion-label>
  </ion-item>
</ion-list>
