<ion-content class="content">
  <ng-container>
    <ion-card class="content_card">
      <ion-card-header class="content_card_header">
        <ion-card-title class="content_card_header-title"
          >ログイン</ion-card-title
        >
      </ion-card-header>
      <ion-card-content class="content_card_content">
        <img [src]="imageZone" (click)="onClickLoginWithLine()" />
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container>
    <ion-button class="content_button" fill="outline"
      >Lineで新規登録</ion-button
    >
  </ng-container>
</ion-content>
