.story-list {
    padding: 16px 0 8px;
    border-bottom: 1px solid #ddd;

    .scroll-horizontal {
        padding-left: 16px;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .scroll-item {
        position: relative;
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 8px;
    }
}

.scroll-horizontal::-webkit-scrollbar {
    display: none;
}