<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{targetItem.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <app-category-slide
  (emitChooseCategory)="chooseCategory($event)"
  #categoryControl
></app-category-slide> -->

<!-- <ion-content
  fullscreen="true"
  scrollEvents="true"
  [appHideHeader]="header"
  [appCategorySlide]="categoryControl"
> -->
<ion-content fullscreen="true" scrollEvents="true">
  <app-category-slide
    (emitChooseCategory)="chooseCategory($event)"
  ></app-category-slide>
  <app-list-timeline></app-list-timeline>
</ion-content>
