<ng-container>
  <ion-list>
    <!-- class="wrapper" -->
    <ion-row class="list__row">
      <ion-col size="2">
        <ion-avatar>
          <ion-img [src]=""></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="10">
        <!-- tweet-info -->
        <ion-row class="list__row__col__row--info">
          <ion-col size="12">
            <!-- class="name" -->
            <div class="list__row__col__row__col__div--name">NPO法人名</div>
            <!-- class="handle" -->
            <div class="list__row_col__row__col__div--date">2022/02/01</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div innerHtml="aaaa">
              aaaaaaaaaaaaaaffasdfsdfsdfdfasdfasdfsadfsadsfaasdfsadfsdfasdfsdfsdfsadfs
            </div>
            <!-- class="preview-img" -->
            <img
              class="list__row__col__row__col--img"
              src="../../../../assets/img/keshiki.jpeg"
              *ngIf="true"
            />
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="list__row">
      <ion-col size="2">
        <ion-avatar>
          <ion-img [src]=""></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="10">
        <!-- tweet-info -->
        <ion-row class="list__row__col__row--info">
          <ion-col size="12">
            <!-- class="name" -->
            <div class="list__row__col__row__col__div--name">NPO法人名</div>
            <!-- class="handle" -->
            <div class="list__row_col__row__col__div--date">2022/02/01</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div innerHtml="aaaa">
              aaaaaaaaaaaaaaffasdfsdfsdfdfasdfasdfsadfsadsfaasdfsadfsdfasdfsdfsdfsadfs
            </div>
            <!-- class="preview-img" -->
            <img
              class="list__row__col__row__col--img"
              src="../../../../assets/img/keshiki.jpeg"
              *ngIf="true"
            />
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="list__row">
      <ion-col size="2">
        <ion-avatar>
          <ion-img [src]=""></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="10">
        <!-- tweet-info -->
        <ion-row class="list__row__col__row--info">
          <ion-col size="12">
            <!-- class="name" -->
            <div class="list__row__col__row__col__div--name">NPO法人名</div>
            <!-- class="handle" -->
            <div class="list__row_col__row__col__div--date">2022/02/01</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div innerHtml="aaaa">
              aaaaaaaaaaaaaaffasdfsdfsdfdfasdfasdfsadfsadsfaasdfsadfsdfasdfsdfsdfsadfs
            </div>
            <!-- class="preview-img" -->
            <img
              class="list__row__col__row__col--img"
              src="../../../../assets/img/keshiki.jpeg"
              *ngIf="true"
            />
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-list>
</ng-container>
