<ion-header>
  <ion-toolbar>
    <ion-title>施設名</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <ion-item>
    <ion-text>
      <h3>目的</h3>
      <p>
        H3: The quick brown fox jumps over the lazy dog asdfasdfasdfsdfsdfds
      </p>
    </ion-text>
  </ion-item>
  <ion-item class="content__item">
    <ion-icon class="content__item__icon" name="person"></ion-icon>
    <ion-label>代表者名</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon class="content__item__icon" name="location"></ion-icon>
    <ion-text>住所</ion-text>
  </ion-item>
  <ion-item>
    <ion-icon class="content__item__icon" name="calendar-number"></ion-icon>
    <ion-text>設立年月日</ion-text>
  </ion-item>
  <ion-item>
    <ion-icon class="content__item__icon" name="globe"></ion-icon>
    <ion-text>ウェブサイト</ion-text>
  </ion-item>
  <ion-item>
    <ion-icon class="content__item__icon" name="reader"></ion-icon>
    <ion-label>登録日</ion-label>
  </ion-item>
  <ion-item>
    <ng-container>
      <ion-text>
        <h4>活動分野</h4>
        <ion-chip>設立</ion-chip>
        <ion-chip>設立</ion-chip>
        <ion-chip>設立年月日</ion-chip>
        <ion-chip>設立年月日</ion-chip>
        <ion-chip>設立年月日</ion-chip>
        <ion-chip>設立年月日</ion-chip>
      </ion-text>
    </ng-container>
  </ion-item>
</ion-content>
<ion-footer class="footer">
  <ion-toolbar class="footer__toolbar">
    <ion-chip color="primary">
      <ion-icon name="chatbox"></ion-icon>
      <ion-label>チャット</ion-label>
    </ion-chip>
    <ion-chip color="primary">
      <ion-icon name="call"></ion-icon>
      <ion-label>電話</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-footer>
